
<div class="container">
    <div class="row">
        <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Pour tester :</span>
              <p>Username = Admin</p>
              <p>Password = admin</p>
            </div>
          </div>
        </div>
      </div>


        <div class="col m10 offset-m1 s12">
            <h2 class="center-align">Login</h2>
            <div class="row">
                <form class="col m8 offset-m2 s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" ng-model=user.username type="text">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" ng-model=user.password type="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col m12">
                         <p class="right-align"><button ng-click="verifLogin()" class="btn btn-large waves-effect waves-light" type="button" name="action">Login</button></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






