<div class="div_align">
  <h1>Users</h1>
  <a href="#/create_user" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
</div>
 

<table class="striped centered">
        <thead>
          <tr>
              <th data-field="id">__id</th>
              <th data-field="name">Name</th>
              <th data-field="username">Username</th>
              <th data-field="action">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="user in users track by $index">
            <td>{{ user._id}}</td>
            <td>{{ user.name}}</td>
            <td>{{ user.username}}</td>
            <td><button ng-disabled="user.username=='Admin'" ng-click="Edit(user._id)" class="btn waves-effect waves-light" >EDIT</button>
             <button ng-click="Del(user._id)" ng-disabled="user.username=='Admin'" class="btn waves-effect waves-light red">DELETE</button></td>
          </tr>
        </tbody>
</table>

